name: iOS CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
    tags:
      - "**"
    paths-ignore:
      - ".gitignore"
      - "README.md"
      - "docs/**"
      # ignore CI for other platforms
      - ".github/FUNDING.yml"
      - ".github/actions/**"
      - ".github/workflows/Android.yml"
      - ".github/workflows/CI-cache-cleanup.yml"
      - ".github/workflows/docs-test.yml"
      - ".github/workflows/gh-pages-docs.yml"
      - ".github/workflows/Linux.yml"
      - ".github/workflows/macOS.yml"
      - ".github/workflows/source-tarball.yml"
      - ".github/workflows/WASM.yml"
      - ".github/workflows/Windows.yml"
      - "cmake/presets/Android.json"
      - "cmake/presets/Linux.json"
      - "cmake/presets/macOS.json"
      - "cmake/presets/WASM.json"
      - "cmake/presets/Windows.json"

  pull_request:
    branches:
      - main
    paths-ignore:
      - ".gitignore"
      - "README.md"
      - "docs/**"
      # ignore CI for other platforms
      - ".github/FUNDING.yml"
      - ".github/actions/**"
      - ".github/workflows/Android.yml"
      - ".github/workflows/CI-cache-cleanup.yml"
      - ".github/workflows/docs-test.yml"
      - ".github/workflows/gh-pages-docs.yml"
      - ".github/workflows/Linux.yml"
      - ".github/workflows/macOS.yml"
      - ".github/workflows/source-tarball.yml"
      - ".github/workflows/WASM.yml"
      - ".github/workflows/Windows.yml"
      - "cmake/presets/Android.json"
      - "cmake/presets/Linux.json"
      - "cmake/presets/macOS.json"
      - "cmake/presets/WASM.json"
      - "cmake/presets/Windows.json"

concurrency:
  # cancel jobs on PRs only
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  build:
    name: Build (Qt${{ matrix.qt_version}})
    runs-on: macos-15
    strategy:
      matrix:
        include:
          - qt_version: 6.9.3
            preset: iOS
          - qt_version: 6.10.0
            preset: iOS

    env:
      PRESET: ${{ matrix.preset }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          path: source
          submodules: recursive
          fetch-depth: 0

      - name: Recover disk space
        run: |
          df -h
          ls /Applications
          brew uninstall google-chrome
          sudo rm -rf /Users/runner/Library/Android
          sudo rm -rf /Applications/Xcode_14*
          sudo rm -rf /Applications/Xcode_15*
          ls /Applications
          df -h

      - name: Setup CMake
        uses: jwlawson/actions-setup-cmake@v2
        with:
          cmake-version: 3.30.x

      - name: Setup Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable

      - name: Download Qt
        uses: jurplel/install-qt-action@v4
        with:
          aqtversion: ==3.3.*
          version: ${{ matrix.qt_version }}
          target: ios
          modules: qtlocation qtpositioning

      - name: Setup ninja
        uses: seanmiddleditch/gha-setup-ninja@v6

      - name: Build
        working-directory: source
        run: |
          export QT_HOST_PATH="$(readlink -f "$QT_ROOT_DIR/../macos")"
          cmake --workflow --preset ${PRESET}

      - name: Upload installation
        uses: actions/upload-artifact@v5
        with:
          name: iOS_${{ matrix.qt_version }}
          path: build/qt6-iOS/maplibre-native-qt_*_iOS_Metal.tar.bz2

  release:
    name: Release
    if: github.ref_type == 'tag'
    runs-on: macos-15
    needs: build
    permissions:
      contents: write
    strategy:
      matrix:
        qt_version: [6.9.3, 6.10.0]

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v6
        with:
          name: iOS_${{ matrix.qt_version }}

      - name: Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: maplibre-native-qt_${{ github.ref_name }}_Qt${{ matrix.qt_version }}_iOS_Metal.tar.bz2
          allowUpdates: true
          draft: true
