name: Windows CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
    tags:
      - "**"
    paths-ignore:
      - ".gitignore"
      - "README.md"
      - "docs/**"
      # ignore CI for other platforms
      - ".github/FUNDING.yml"
      - ".github/actions/**"
      - ".github/workflows/Android.yml"
      - ".github/workflows/CI-cache-cleanup.yml"
      - ".github/workflows/docs-test.yml"
      - ".github/workflows/gh-pages-docs.yml"
      - ".github/workflows/iOS.yml"
      - ".github/workflows/Linux.yml"
      - ".github/workflows/macOS.yml"
      - ".github/workflows/source-tarball.yml"

  pull_request:
    branches:
      - main
    paths-ignore:
      - ".gitignore"
      - "README.md"
      - "docs/**"
      # ignore CI for other platforms
      - ".github/FUNDING.yml"
      - ".github/actions/**"
      - ".github/workflows/Android.yml"
      - ".github/workflows/CI-cache-cleanup.yml"
      - ".github/workflows/docs-test.yml"
      - ".github/workflows/gh-pages-docs.yml"
      - ".github/workflows/iOS.yml"
      - ".github/workflows/Linux.yml"
      - ".github/workflows/macOS.yml"
      - ".github/workflows/source-tarball.yml"

concurrency:
  # cancel jobs on PRs only
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

env:
  CCACHE_CONFIGPATH: C:/Users/runneradmin/AppData/Roaming/ccache/ccache.conf

jobs:
  build-and-test:
    name: Build (Qt${{ matrix.qt_version}}, ${{ matrix.arch }})
    runs-on: ${{ matrix.platform }}
    strategy:
      matrix:
        include:
          - qt_series: 5
            qt_version: 5.15.2
            qt_arch: win64_msvc2019_64
            qt_modules: ""
            platform: windows-2019
            arch: msvc2019_64
            compiler: x64
            preset: Windows-legacy-ccache
          - qt_series: 6
            qt_version: 6.8.3
            qt_arch: win64_msvc2022_64
            qt_modules: qtlocation qtpositioning
            platform: windows-2022
            arch: msvc2022_64
            compiler: x64
            preset: Windows-ccache
          - qt_series: 6
            qt_version: 6.9.0
            qt_arch: win64_msvc2022_64
            qt_modules: qtlocation qtpositioning
            platform: windows-2022
            arch: msvc2022_64
            compiler: x64
            preset: Windows-ccache

    env:
      PRESET: ${{ matrix.preset }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: source
          fetch-depth: 0

      - name: Setup submodules
        shell: bash
        run: |
          cd source
          auth_header="$(git config --local --get http.https://github.com/.extraheader)"
          git submodule sync --recursive
          git -c "http.extraheader=$auth_header" -c protocol.version=2 submodule update --init --force --recursive --depth=1 || true

      - name: Download Qt
        uses: jurplel/install-qt-action@v4
        with:
          aqtversion: ==3.1.*
          version: ${{ matrix.qt_version }}
          target: desktop
          arch: ${{ matrix.qt_arch }}
          modules: ${{ matrix.qt_modules }}

      - name: Setup CMake
        uses: jwlawson/actions-setup-cmake@v2
        with:
          cmake-version: 3.30.x

      - name: Setup ninja
        uses: seanmiddleditch/gha-setup-ninja@v6

      - name: Setup MSVC
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: ${{ matrix.compiler }}

      - name: Update ccache
        run: |
          choco upgrade ccache
          ccache --version

      - name: Set up ccache
        uses: hendrikmuhs/ccache-action@v1
        with:
          key: Windows_${{ matrix.qt_version }}_${{ matrix.arch }}
          max-size: 200M

      - name: Build
        shell: bash
        working-directory: source
        run: |
          cmake --workflow --preset ${PRESET}

      - name: Install
        if: matrix.qt_series == 6
        shell: bash
        run: |
          mkdir install && cd install
          tar xf ../build/qt${{ matrix.qt_series }}-Windows/maplibre-native-qt_*.tar.bz2
          mv maplibre-native-qt_* maplibre-native-qt

      - name: Build QtQuick Example
        if: matrix.qt_series == 6
        shell: bash
        working-directory: source/examples/quick
        run: |
          export QMapLibre_DIR="$GITHUB_WORKSPACE/install/maplibre-native-qt"
          cmake --workflow --preset default

      - name: Build QtWidgets Example
        if: matrix.qt_series == 6
        shell: bash
        working-directory: source/examples/widgets
        run: |
          export QMapLibre_DIR="$GITHUB_WORKSPACE/install/maplibre-native-qt"
          cmake --workflow --preset default

      - name: Upload installation
        uses: actions/upload-artifact@v4
        with:
          name: Windows_${{ matrix.arch }}_${{ matrix.qt_version }}
          path: build/qt${{ matrix.qt_series }}-Windows/maplibre-native-qt_*.tar.bz2

      - name: Upload examples
        if: matrix.qt_series == 6
        uses: actions/upload-artifact@v4
        with:
          name: Windows_${{ matrix.arch }}_${{ matrix.qt_version }}_examples
          path: build/qt${{ matrix.qt_series }}-example-*/*.tar.bz2

  release:
    name: Release
    if: github.ref_type == 'tag'
    runs-on: windows-2022
    needs: build-and-test
    permissions:
      contents: write
    strategy:
      matrix:
        include:
          - qt_version: 5.15.2
            arch: msvc2019_64
          - qt_version: 6.8.3
            arch: msvc2022_64
          - qt_version: 6.9.0
            arch: msvc2022_64

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: Windows_${{ matrix.arch }}_${{ matrix.qt_version }}

      - name: Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: maplibre-native-qt_${{ github.ref_name }}_Qt${{ matrix.qt_version }}_Windows.tar.bz2
          allowUpdates: true
          draft: true
